img{
    display: block;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style-type: none;
}

/* header */

.page-header{
    height: 80px;
}

.header-nav{
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;

}

.logo-mobile{
    width: 70px;
}

.logo{
    width: 150px;
}

.search{
    width: 70%;
}
form{
   width: 100%;
}

.form-control{
    background-color: rgb(229,229,229);
}

.fa-bell{
    color: rgb(255,143,0)   ;
}

/* wrapper */

.wrapper{
    height: calc(100vh - 80px);
    display: flex;
}

.sidebar{
    flex: 0 0 75px;
    background-image: url(../img/sidebar-bg.png);
    background-color: rgb(6,30,52);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main{
    flex: 1 1 auto;
    overflow-y: auto;
    color: white;
}

.bg-pils{
    background-color: rgb(22,91,186);
}

.main-header{
    background-color: rgb(29,114,232);
    padding: 20px 10px;
}
.main-content{
    color: black;
}

.fa-plus{
    font-size: 25px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 7px;
    cursor: pointer;
    vertical-align: sub;
}

.icon-bor{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    color: gray;
}

td img{
    width: 30px;
    display: inline-block;
}


/**** RESPONSIVE****/

@media screen and (min-width: 992px){
    .sidebar{
        flex-basis: 150px;
    }
}